# Virtual Environment
.venv/
venv/
ENV/

# Secrets & Local Environment Variables
.env

# Vector Database & Local Data Storage
chroma_store/
app_data.db

# Python Caches
__pycache__/
*.pyc


# Streamlit Local Cache/Settings (Optional)
.streamlit/secrets.toml